
<div class="login">
  <div class="row" >
    <div class="col-md-2"></div>
      <div style="margin-top:10px" class="col-md-7">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">10-year-old shot for plucking mangoes in Bihar</h5>
            <p class="card-text">10-year-old shot for plucking mangoes in Bihar. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <div style="text-align:right">
            <button style="margin-right:10px" type="button" class="btn btn-success" (click)="trueClick()">True</button>
            <button style="margin-right:10px" type="button" class="btn btn-warning" (click)="partialFake()" >Partial fake</button>
            <button type="button" class="btn btn-danger" (click)="fakeClick()" >Completely fake</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-7">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">MP should realise people are watching,will decide at election time.</h5>
            <p class="card-text">MP should realise people are watching,will decide at election time. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <!-- <button type="button" class="btn btn-warning">Primary</button> -->
            <div style="text-align:right">
            <button style="margin-right:10px" type="button" class="btn btn-success">True</button>
            <button style="margin-right:10px" type="button" class="btn btn-warning">Partial fake</button>
            <button type="button" class="btn btn-danger">Completely fake</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-7">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">PM Modi to launch number of projects.</h5>
            <p class="card-text">PM Modi to launch number of projects as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

            <!-- <button type="button" class="btn btn-warning">Primary</button> -->
            <div style="text-align:right">
            <button style="margin-right:10px" type="button" class="btn btn-success">True</button>
            <button style="margin-right:10px" type="button" class="btn btn-warning">Partial fake</button>
            <button type="button" class="btn btn-danger">Completely fake</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
